# 0. Librerías

In [1]:
# Librerias Generales
import pandas as pd
import numpy as np

#Vacaciones
from holidays import country_holidays

# Librerias para trabajar con formatos pkl.
import pickle

In [ ]:
# Importamos los datos de las diferentes tablas para explorarlos.
calendar= pd.read_csv('/Volumes/GoogleDrive/Mi unidad/Capstone/daily_calendar_with_events.csv')
calendar

            date    weekday  weekday_int       d event
0     2011-01-29   Saturday            1     d_1   NaN
1     2011-01-30     Sunday            2     d_2   NaN
2     2011-01-31     Monday            3     d_3   NaN
3     2011-02-01    Tuesday            4     d_4   NaN
4     2011-02-02  Wednesday            5     d_5   NaN
...          ...        ...          ...     ...   ...
1908  2016-04-20  Wednesday            5  d_1909   NaN
1909  2016-04-21   Thursday            6  d_1910   NaN
1910  2016-04-22     Friday            7  d_1911   NaN
1911  2016-04-23   Saturday            1  d_1912   NaN
1912  2016-04-24     Sunday            2  d_1913   NaN

[1913 rows x 5 columns]

In [ ]:
sales=pd.read_csv('/Volumes/GoogleDrive/Mi unidad/Capstone/item_sales.csv')
sales

,id,item,category,department,store,store_code,region,d_1,d_2,d_3,...,d_1904,d_1905,d_1906,d_1907,d_1908,d_1909,d_1910,d_1911,d_1912,d_1913
0,ACCESORIES_1_001_NYC_1,ACCESORIES_1_001,ACCESORIES,ACCESORIES_1,Greenwich_Village,NYC_1,New York,0,0,0,...,1,3,0,1,1,1,3,0,1,1
1,ACCESORIES_1_002_NYC_1,ACCESORIES_1_002,ACCESORIES,ACCESORIES_1,Greenwich_Village,NYC_1,New York,0,0,0,...,0,0,0,0,0,1,0,0,0,0
2,ACCESORIES_1_003_NYC_1,ACCESORIES_1_003,ACCESORIES,ACCESORIES_1,Greenwich_Village,NYC_1,New York,0,0,0,...,2,1,2,1,1,1,0,1,1,1
3,ACCESORIES_1_004_NYC_1,ACCESORIES_1_004,ACCESORIES,ACCESORIES_1,Greenwich_Village,NYC_1,New York,0,0,0,...,1,0,5,4,1,0,1,3,7,2
4,ACCESORIES_1_005_NYC_1,ACCESORIES_1_005,ACCESORIES,ACCESORIES_1,Greenwich_Village,NYC_1,New York,0,0,0,...,2,1,1,0,1,1,2,2,2,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30485,SUPERMARKET_3_823_PHI_3,SUPERMARKET_3_823,SUPERMARKET,SUPERMARKET_3,Queen_Village,PHI_3,Philadelphia,0,0,2,...,2,0,0,0,0,0,1,0,0,1
30486,SUPERMARKET_3_824_PHI_3,SUPERMARKET_3_824,SUPERMARKET,SUPERMARKET_3,Queen_Village,PHI_3,Philadelphia,0,0,0,...,0,0,0,0,0,0,0,0,1,0
30487,SUPERMARKET_3_825_PHI_3,SUPERMARKET_3_825,SUPERMARKET,SUPERMARKET_3,Queen_Village,PHI_3,Philadelphia,0,6,0,...,2,1,0,2,0,1,0,0,1,0
30488,SUPERMARKET_3_826_PHI_3,SUPERMARKET_3_826,SUPERMARKET,SUPERMARKET_3,Queen_Village,PHI_3,Philadelphia,0,0,0,...,0,0,1,0,0,1,0,3,1,3
30489,SUPERMARKET_3_827_PHI_3,SUPERMARKET_3_827,SUPERMARKET,SUPERMARKET_3,Queen_Village,PHI_3,Philadelphia,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
#Comprobando el peso en memoria de sales.
sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30490 entries, 0 to 30489
Columns: 1920 entries, id to d_1913
dtypes: int64(1913), object(7)
memory usage: 446.6+ MB

In [ ]:
# Melteamos la tabla Sales,para pasar las columnas (1920) a filas y quedando en 9 columnas, mas facil para el analisis posterior.
sales_melt= pd.melt(sales,id_vars=['id','item','category','department','store','store_code','region'],var_name='day_number',value_name='units_sold')
sales_melt

,id,item,category,department,store,store_code,region,day_number,units_sold
0,ACCESORIES_1_001_NYC_1,ACCESORIES_1_001,ACCESORIES,ACCESORIES_1,Greenwich_Village,NYC_1,New York,d_1,0
1,ACCESORIES_1_002_NYC_1,ACCESORIES_1_002,ACCESORIES,ACCESORIES_1,Greenwich_Village,NYC_1,New York,d_1,0
2,ACCESORIES_1_003_NYC_1,ACCESORIES_1_003,ACCESORIES,ACCESORIES_1,Greenwich_Village,NYC_1,New York,d_1,0
3,ACCESORIES_1_004_NYC_1,ACCESORIES_1_004,ACCESORIES,ACCESORIES_1,Greenwich_Village,NYC_1,New York,d_1,0
4,ACCESORIES_1_005_NYC_1,ACCESORIES_1_005,ACCESORIES,ACCESORIES_1,Greenwich_Village,NYC_1,New York,d_1,0
...,...,...,...,...,...,...,...,...,...
58327365,SUPERMARKET_3_823_PHI_3,SUPERMARKET_3_823,SUPERMARKET,SUPERMARKET_3,Queen_Village,PHI_3,Philadelphia,d_1913,1
58327366,SUPERMARKET_3_824_PHI_3,SUPERMARKET_3_824,SUPERMARKET,SUPERMARKET_3,Queen_Village,PHI_3,Philadelphia,d_1913,0
58327367,SUPERMARKET_3_825_PHI_3,SUPERMARKET_3_825,SUPERMARKET,SUPERMARKET_3,Queen_Village,PHI_3,Philadelphia,d_1913,0
58327368,SUPERMARKET_3_826_PHI_3,SUPERMARKET_3_826,SUPERMARKET,SUPERMARKET_3,Queen_Village,PHI_3,Philadelphia,d_1913,3
58327369,SUPERMARKET_3_827_PHI_3,SUPERMARKET_3_827,SUPERMARKET,SUPERMARKET_3,Queen_Village,PHI_3,Philadelphia,d_1913,0

Podemos verificar cómo podríamos unir las tablas de ventas con el calendario. Para ello, procederemos a realizar un merge utilizando la columna 'Day_number'.

In [ ]:
# Realizamos la combinación de tablas.
sales_cal= sales_melt.merge(calendar,left_on="day_number",right_on="d",how="outer",copy=True)

In [ ]:
# Comprobamos que se hizo correctamente
sales_cal.head()

,id,item,category,department,store,store_code,region,day_number,units_sold,date,weekday,weekday_int,d,event
0,ACCESORIES_1_001_NYC_1,ACCESORIES_1_001,ACCESORIES,ACCESORIES_1,Greenwich_Village,NYC_1,New York,d_1,0,2011-01-29,Saturday,1,d_1,NaN
1,ACCESORIES_1_002_NYC_1,ACCESORIES_1_002,ACCESORIES,ACCESORIES_1,Greenwich_Village,NYC_1,New York,d_1,0,2011-01-29,Saturday,1,d_1,NaN
2,ACCESORIES_1_003_NYC_1,ACCESORIES_1_003,ACCESORIES,ACCESORIES_1,Greenwich_Village,NYC_1,New York,d_1,0,2011-01-29,Saturday,1,d_1,NaN
3,ACCESORIES_1_004_NYC_1,ACCESORIES_1_004,ACCESORIES,ACCESORIES_1,Greenwich_Village,NYC_1,New York,d_1,0,2011-01-29,Saturday,1,d_1,NaN
4,ACCESORIES_1_005_NYC_1,ACCESORIES_1_005,ACCESORIES,ACCESORIES_1,Greenwich_Village,NYC_1,New York,d_1,0,2011-01-29,Saturday,1,d_1,NaN

In [ ]:
# Eliminamos la fila duplicado.
sales_cal.drop(columns="d",inplace=True)
sales_cal.head()

,id,item,category,department,store,store_code,region,day_number,units_sold,date,weekday,weekday_int,event
0,ACCESORIES_1_001_NYC_1,ACCESORIES_1_001,ACCESORIES,ACCESORIES_1,Greenwich_Village,NYC_1,New York,d_1,0,2011-01-29,Saturday,1,NaN
1,ACCESORIES_1_002_NYC_1,ACCESORIES_1_002,ACCESORIES,ACCESORIES_1,Greenwich_Village,NYC_1,New York,d_1,0,2011-01-29,Saturday,1,NaN
2,ACCESORIES_1_003_NYC_1,ACCESORIES_1_003,ACCESORIES,ACCESORIES_1,Greenwich_Village,NYC_1,New York,d_1,0,2011-01-29,Saturday,1,NaN
3,ACCESORIES_1_004_NYC_1,ACCESORIES_1_004,ACCESORIES,ACCESORIES_1,Greenwich_Village,NYC_1,New York,d_1,0,2011-01-29,Saturday,1,NaN
4,ACCESORIES_1_005_NYC_1,ACCESORIES_1_005,ACCESORIES,ACCESORIES_1,Greenwich_Village,NYC_1,New York,d_1,0,2011-01-29,Saturday,1,NaN

In [ ]:
sales_cal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58327370 entries, 0 to 58327369
Data columns (total 13 columns):
 #   Column       Dtype
---  ------       -----
 0   id           object
 1   item         object
 2   category     object
 3   department   object
 4   store        object
 5   store_code   object
 6   region       object
 7   day_number   object
 8   units_sold   int64
 9   date         object
 10  weekday      object
 11  weekday_int  int64
 12  event        object
dtypes: int64(2), object(11)
memory usage: 5.6+ GB

In [ ]:
# Realizamos el conteo de los diferentes items para saber cuantos diferentes hay.
sales_cal.item.value_counts()

item
ACCESORIES_1_001       19130
SUPERMARKET_2_210      19130
SUPERMARKET_2_201      19130
SUPERMARKET_2_202      19130
SUPERMARKET_2_203      19130
                       ...
HOME_&_GARDEN_1_464    19130
HOME_&_GARDEN_1_465    19130
HOME_&_GARDEN_1_466    19130
HOME_&_GARDEN_1_467    19130
SUPERMARKET_3_827      19130
Name: count, Length: 3049, dtype: int64

In [ ]:
#Comprobando que los eventos se han duplicado bien
sales_cal.event.value_counts(dropna=False,normalize=True)

event
NaN               0.986409
SuperBowl         0.003136
Ramadan starts    0.002614
Thanksgiving      0.002614
NewYear           0.002614
Easter            0.002614
Name: proportion, dtype: float64

In [ ]:
calendar.event.value_counts(normalize=True,dropna=False)

event
NaN               0.986409
SuperBowl         0.003136
Ramadan starts    0.002614
Thanksgiving      0.002614
NewYear           0.002614
Easter            0.002614
Name: proportion, dtype: float64

In [ ]:
sales_cal.describe()

         units_sold   weekday_int
count  5.832737e+07  5.832737e+07
mean   1.126322e+00  3.997386e+00
std    3.873108e+00  2.000652e+00
min    0.000000e+00  1.000000e+00
25%    0.000000e+00  2.000000e+00
50%    0.000000e+00  4.000000e+00
75%    1.000000e+00  6.000000e+00
max    7.630000e+02  7.000000e+00

In [ ]:
sales_cal.head()

,id,item,category,department,store,store_code,region,day_number,units_sold,date,weekday,weekday_int,event
0,ACCESORIES_1_001_NYC_1,ACCESORIES_1_001,ACCESORIES,ACCESORIES_1,Greenwich_Village,NYC_1,New York,d_1,0,2011-01-29,Saturday,1,NaN
1,ACCESORIES_1_002_NYC_1,ACCESORIES_1_002,ACCESORIES,ACCESORIES_1,Greenwich_Village,NYC_1,New York,d_1,0,2011-01-29,Saturday,1,NaN
2,ACCESORIES_1_003_NYC_1,ACCESORIES_1_003,ACCESORIES,ACCESORIES_1,Greenwich_Village,NYC_1,New York,d_1,0,2011-01-29,Saturday,1,NaN
3,ACCESORIES_1_004_NYC_1,ACCESORIES_1_004,ACCESORIES,ACCESORIES_1,Greenwich_Village,NYC_1,New York,d_1,0,2011-01-29,Saturday,1,NaN
4,ACCESORIES_1_005_NYC_1,ACCESORIES_1_005,ACCESORIES,ACCESORIES_1,Greenwich_Village,NYC_1,New York,d_1,0,2011-01-29,Saturday,1,NaN

In [ ]:
# Asignamos la fecha como Indice.
sales_cal["date"]= pd.to_datetime(sales_cal["date"],format="%Y-%m-%d")
sales_cal.set_index('date', inplace=True)

In [ ]:
# Importamos el ultimo dataframe.
prices= pd.read_csv('/Volumes/GoogleDrive/Mi unidad/Capstone/item_prices.csv')
prices

                      item     category store_code  yearweek  sell_price
0         ACCESORIES_1_001   ACCESORIES      NYC_1  201328.0     12.7414
1         ACCESORIES_1_001   ACCESORIES      NYC_1  201329.0     12.7414
2         ACCESORIES_1_001   ACCESORIES      NYC_1  201330.0     10.9858
3         ACCESORIES_1_001   ACCESORIES      NYC_1  201331.0     10.9858
4         ACCESORIES_1_001   ACCESORIES      NYC_1  201332.0     10.9858
...                    ...          ...        ...       ...         ...
6965701  SUPERMARKET_3_827  SUPERMARKET      PHI_3       NaN      1.2000
6965702  SUPERMARKET_3_827  SUPERMARKET      PHI_3       NaN      1.2000
6965703  SUPERMARKET_3_827  SUPERMARKET      PHI_3       NaN      1.2000
6965704  SUPERMARKET_3_827  SUPERMARKET      PHI_3       NaN      1.2000
6965705  SUPERMARKET_3_827  SUPERMARKET      PHI_3       NaN      1.2000

[6965706 rows x 5 columns]

Comprobamos que la columna 'yearweek' contiene valores nulos. Además, no podemos trabajar con ese formato, por lo que procederemos a separar esta columna en 'year' y 'week' para facilitar su manejo y poder rellenar los valores nulos.

Por otro lado, observamos que al realizar una pequeña transformación podríamos obtener el ID, lo que simplificaría la combinación con la tabla.

In [ ]:
# Chequeamos los nulos.
prices.isna().sum()

item               0
category           0
store_code         0
yearweek      243920
sell_price         0
dtype: int64

In [ ]:
# Creamos la columna id.
prices["id"] = prices.apply(lambda x: x["item"] + "_" + x["store_code"], axis=1)
prices.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6965706 entries, 0 to 6965705
Data columns (total 6 columns):
 #   Column      Dtype
---  ------      -----
 0   item        object
 1   category    object
 2   store_code  object
 3   yearweek    float64
 4   sell_price  float64
 5   id          object
dtypes: float64(2), object(4)
memory usage: 318.9+ MB

In [ ]:
#Transformamos a string para poder extraer la informacion.
prices['yearweek'] = prices['yearweek'].astype(str)

# Extraer el año y el mes
prices['year'] = prices['yearweek'].str[:4]
prices['week'] = prices['yearweek'].str[4:6]

# Por ultimo re-transformamos a numerico.
prices['year'] = pd.to_numeric(prices['year'], errors='coerce')
prices['week'] = pd.to_numeric(prices['week'], errors='coerce')

In [ ]:
# Primero rellenamos nulos en la columna semana.
for i in range(len(prices)):
    if pd.isnull(prices.loc[i, 'week']):
        # Si es nulo, rellena con el valor anterior más 1
        new_week = prices.loc[i - 1, 'week'] + 1 if i > 0 else 1
        # Si es 53, establecer a 0
        new_week = 1 if new_week == 53 else new_week
        prices.loc[i, 'week'] = new_week

print(prices)

                      item     category store_code  yearweek  sell_price  \
0         ACCESORIES_1_001   ACCESORIES      NYC_1  201328.0     12.7414
1         ACCESORIES_1_001   ACCESORIES      NYC_1  201329.0     12.7414
2         ACCESORIES_1_001   ACCESORIES      NYC_1  201330.0     10.9858
3         ACCESORIES_1_001   ACCESORIES      NYC_1  201331.0     10.9858
4         ACCESORIES_1_001   ACCESORIES      NYC_1  201332.0     10.9858
...                    ...          ...        ...       ...         ...
6965701  SUPERMARKET_3_827  SUPERMARKET      PHI_3       nan      1.2000
6965702  SUPERMARKET_3_827  SUPERMARKET      PHI_3       nan      1.2000
6965703  SUPERMARKET_3_827  SUPERMARKET      PHI_3       nan      1.2000
6965704  SUPERMARKET_3_827  SUPERMARKET      PHI_3       nan      1.2000
6965705  SUPERMARKET_3_827  SUPERMARKET      PHI_3       nan      1.2000

                              id    year  week
0         ACCESORIES_1_001_NYC_1  2013.0  28.0
1         ACCESORIES_1_001_NYC_1  2013.0  29.0
2         ACCESORIES_1_001_NYC_1  2013.0  30.0
3         ACCESORIES_1_001_NYC_1  2013.0  31.0
4         ACCESORIES_1_001_NYC_1  2013.0  32.0
...                          ...     ...   ...
6965701  SUPERMARKET_3_827_PHI_3     NaN  21.0
6965702  SUPERMARKET_3_827_PHI_3     NaN  22.0
6965703  SUPERMARKET_3_827_PHI_3     NaN  23.0
6965704  SUPERMARKET_3_827_PHI_3     NaN  24.0
6965705  SUPERMARKET_3_827_PHI_3     NaN  25.0

[6965706 rows x 8 columns]

In [ ]:
# Ahora con la información de la semana rellenamos el año.
for i in range(len(prices)):
    if pd.isnull(prices.loc[i, 'year']):
        # Si es nulo, rellena con el año del valor anterior
        new_year = prices.loc[i - 1, 'year'] if i > 0 else None
        # Verifica si la semana de la fila anterior es 52 y cambia el año si es así
        if prices.loc[i - 1, 'week'] == 52:
            new_year += 1 if new_year is not None else None
        prices.loc[i, 'year'] = new_year

print(prices)

                      item     category store_code  yearweek  sell_price  \
0         ACCESORIES_1_001   ACCESORIES      NYC_1  201328.0     12.7414
1         ACCESORIES_1_001   ACCESORIES      NYC_1  201329.0     12.7414
2         ACCESORIES_1_001   ACCESORIES      NYC_1  201330.0     10.9858
3         ACCESORIES_1_001   ACCESORIES      NYC_1  201331.0     10.9858
4         ACCESORIES_1_001   ACCESORIES      NYC_1  201332.0     10.9858
...                    ...          ...        ...       ...         ...
6965701  SUPERMARKET_3_827  SUPERMARKET      PHI_3       nan      1.2000
6965702  SUPERMARKET_3_827  SUPERMARKET      PHI_3       nan      1.2000
6965703  SUPERMARKET_3_827  SUPERMARKET      PHI_3       nan      1.2000
6965704  SUPERMARKET_3_827  SUPERMARKET      PHI_3       nan      1.2000
6965705  SUPERMARKET_3_827  SUPERMARKET      PHI_3       nan      1.2000

                              id    year  week
0         ACCESORIES_1_001_NYC_1  2013.0  28.0
1         ACCESORIES_1_001_NYC_1  2013.0  29.0
2         ACCESORIES_1_001_NYC_1  2013.0  30.0
3         ACCESORIES_1_001_NYC_1  2013.0  31.0
4         ACCESORIES_1_001_NYC_1  2013.0  32.0
...                          ...     ...   ...
6965701  SUPERMARKET_3_827_PHI_3  2016.0  21.0
6965702  SUPERMARKET_3_827_PHI_3  2016.0  22.0
6965703  SUPERMARKET_3_827_PHI_3  2016.0  23.0
6965704  SUPERMARKET_3_827_PHI_3  2016.0  24.0
6965705  SUPERMARKET_3_827_PHI_3  2016.0  25.0

[6965706 rows x 8 columns]

In [ ]:
# Comprobamos que no hay nulos
prices.isna().sum()

item          0
category      0
store_code    0
yearweek      0
sell_price    0
id            0
year          0
week          0
dtype: int64

In [ ]:
prices.drop("yearweek",axis=1,inplace= True)

In [ ]:
#Obtenemos week/year de Date
sales_cal['year'] = sales_cal.index.year
sales_cal['week'] = sales_cal.index.isocalendar().week
sales_cal.head()

,id,item,category,department,store,store_code,region,day_number,units_sold,weekday,weekday_int,event,year,week
date,,,,,,,,,,,,,,
2011-01-29,ACCESORIES_1_001_NYC_1,ACCESORIES_1_001,ACCESORIES,ACCESORIES_1,Greenwich_Village,NYC_1,New York,d_1,0,Saturday,1,NaN,2011,4
2011-01-29,ACCESORIES_1_002_NYC_1,ACCESORIES_1_002,ACCESORIES,ACCESORIES_1,Greenwich_Village,NYC_1,New York,d_1,0,Saturday,1,NaN,2011,4
2011-01-29,ACCESORIES_1_003_NYC_1,ACCESORIES_1_003,ACCESORIES,ACCESORIES_1,Greenwich_Village,NYC_1,New York,d_1,0,Saturday,1,NaN,2011,4
2011-01-29,ACCESORIES_1_004_NYC_1,ACCESORIES_1_004,ACCESORIES,ACCESORIES_1,Greenwich_Village,NYC_1,New York,d_1,0,Saturday,1,NaN,2011,4
2011-01-29,ACCESORIES_1_005_NYC_1,ACCESORIES_1_005,ACCESORIES,ACCESORIES_1,Greenwich_Village,NYC_1,New York,d_1,0,Saturday,1,NaN,2011,4

In [ ]:
# Cambiamos el formato en 'sales_cal' de 'year' y 'week a 'intenger
sales_cal['year'] = sales_cal['year'].astype(int)
sales_cal['week'] = sales_cal['week'].astype(int)

In [ ]:
# Unimos ambos dataframes 'sales_cal' y 'prices'
merged_df = pd.merge(sales_cal.reset_index(), prices, on=['id', 'year', 'week', 'item', 'category', 'store_code'], how='outer')

In [ ]:
# Se comprueba como hay numerosos nulos que vamos a comprobar.
merged_df.isna().sum()

date             420889
id                    0
item                  0
category              0
department       420889
store            420889
store_code            0
region           420889
day_number       420889
units_sold       420889
weekday          420889
weekday_int      420889
event          57955519
year                  0
week                  0
sell_price     12532729
dtype: int64

In [ ]:
# Primero vamos a resetear el index
merged_df.reset_index(drop=True, inplace=True)

In [ ]:
# Los precios de venta nulos directamente los eliminaremos porque no nos da información importante.
merged_df.dropna(subset=['sell_price'],inplace=True)

merged_df.isna().sum()

date             420889
id                    0
item                  0
category              0
department       420889
store            420889
store_code            0
region           420889
day_number       420889
units_sold       420889
weekday          420889
weekday_int      420889
event          45605747
year                  0
week                  0
sell_price            0
dtype: int64

In [ ]:
# Al igual que ocurre, si no se ha vendido unidades no nos da ninguna información.
display(merged_df.query("units_sold.isna()"))

merged_df.dropna(subset=['units_sold'],inplace=True)

,date,id,item,category,department,store,store_code,region,day_number,units_sold,weekday,weekday_int,event,year,week,sell_price
58327370,NaT,ACCESORIES_1_001_NYC_1,ACCESORIES_1_001,ACCESORIES,NaN,NaN,NYC_1,NaN,NaN,NaN,NaN,NaN,NaN,2014.0,0.0,10.9858
58327371,NaT,ACCESORIES_1_001_NYC_1,ACCESORIES_1_001,ACCESORIES,NaN,NaN,NYC_1,NaN,NaN,NaN,NaN,NaN,NaN,2015.0,0.0,10.9858
58327372,NaT,ACCESORIES_1_001_NYC_1,ACCESORIES_1_001,ACCESORIES,NaN,NaN,NYC_1,NaN,NaN,NaN,NaN,NaN,NaN,2016.0,0.0,10.9858
58327373,NaT,ACCESORIES_1_001_NYC_1,ACCESORIES_1_001,ACCESORIES,NaN,NaN,NYC_1,NaN,NaN,NaN,NaN,NaN,NaN,2016.0,17.0,11.1454
58327374,NaT,ACCESORIES_1_001_NYC_1,ACCESORIES_1_001,ACCESORIES,NaN,NaN,NYC_1,NaN,NaN,NaN,NaN,NaN,NaN,2016.0,18.0,11.1454
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58748254,NaT,SUPERMARKET_3_827_PHI_3,SUPERMARKET_3_827,SUPERMARKET,NaN,NaN,PHI_3,NaN,NaN,NaN,NaN,NaN,NaN,2016.0,21.0,1.2000
58748255,NaT,SUPERMARKET_3_827_PHI_3,SUPERMARKET_3_827,SUPERMARKET,NaN,NaN,PHI_3,NaN,NaN,NaN,NaN,NaN,NaN,2016.0,22.0,1.2000
58748256,NaT,SUPERMARKET_3_827_PHI_3,SUPERMARKET_3_827,SUPERMARKET,NaN,NaN,PHI_3,NaN,NaN,NaN,NaN,NaN,NaN,2016.0,23.0,1.2000
58748257,NaT,SUPERMARKET_3_827_PHI_3,SUPERMARKET_3_827,SUPERMARKET,NaN,NaN,PHI_3,NaN,NaN,NaN,NaN,NaN,NaN,2016.0,24.0,1.2000
58748258,NaT,SUPERMARKET_3_827_PHI_3,SUPERMARKET_3_827,SUPERMARKET,NaN,NaN,PHI_3,NaN,NaN,NaN,NaN,NaN,NaN,2016.0,25.0,1.2000

In [ ]:
merged_df.isna().sum()

date                  0
id                    0
item                  0
category              0
department            0
store                 0
store_code            0
region                0
day_number            0
units_sold            0
weekday               0
weekday_int           0
event          45184858
year                  0
week                  0
sell_price            0
dtype: int64

In [ ]:
# Rellenamos como si fueran dias laborables y ya buscaremos como obtener la información de los eventos.
merged_df.fillna("Dia laborable")

,date,id,item,category,department,store,store_code,region,day_number,units_sold,weekday,weekday_int,event,year,week,sell_price
61029,2011-01-31,ACCESORIES_1_008_NYC_1,ACCESORIES_1_008,ACCESORIES,ACCESORIES_1,Greenwich_Village,NYC_1,New York,d_3,0.0,Monday,3.0,Dia laborable,2011.0,5.0,0.6118
61030,2011-02-01,ACCESORIES_1_008_NYC_1,ACCESORIES_1_008,ACCESORIES,ACCESORIES_1,Greenwich_Village,NYC_1,New York,d_4,0.0,Tuesday,4.0,Dia laborable,2011.0,5.0,0.6118
61031,2011-02-02,ACCESORIES_1_008_NYC_1,ACCESORIES_1_008,ACCESORIES,ACCESORIES_1,Greenwich_Village,NYC_1,New York,d_5,0.0,Wednesday,5.0,Dia laborable,2011.0,5.0,0.6118
61032,2011-02-03,ACCESORIES_1_008_NYC_1,ACCESORIES_1_008,ACCESORIES,ACCESORIES_1,Greenwich_Village,NYC_1,New York,d_6,4.0,Thursday,6.0,Dia laborable,2011.0,5.0,0.6118
61033,2011-02-04,ACCESORIES_1_008_NYC_1,ACCESORIES_1_008,ACCESORIES,ACCESORIES_1,Greenwich_Village,NYC_1,New York,d_7,6.0,Friday,7.0,Dia laborable,2011.0,5.0,0.6118
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58327365,2016-04-20,SUPERMARKET_3_827_PHI_3,SUPERMARKET_3_827,SUPERMARKET,SUPERMARKET_3,Queen_Village,PHI_3,Philadelphia,d_1909,0.0,Wednesday,5.0,Dia laborable,2016.0,16.0,1.2000
58327366,2016-04-21,SUPERMARKET_3_827_PHI_3,SUPERMARKET_3_827,SUPERMARKET,SUPERMARKET_3,Queen_Village,PHI_3,Philadelphia,d_1910,0.0,Thursday,6.0,Dia laborable,2016.0,16.0,1.2000
58327367,2016-04-22,SUPERMARKET_3_827_PHI_3,SUPERMARKET_3_827,SUPERMARKET,SUPERMARKET_3,Queen_Village,PHI_3,Philadelphia,d_1911,0.0,Friday,7.0,Dia laborable,2016.0,16.0,1.2000
58327368,2016-04-23,SUPERMARKET_3_827_PHI_3,SUPERMARKET_3_827,SUPERMARKET,SUPERMARKET_3,Queen_Village,PHI_3,Philadelphia,d_1912,0.0,Saturday,1.0,Dia laborable,2016.0,16.0,1.2000
58327369,2016-04-24,SUPERMARKET_3_827_PHI_3,SUPERMARKET_3_827,SUPERMARKET,SUPERMARKET_3,Queen_Village,PHI_3,Philadelphia,d_1913,0.0,Sunday,2.0,Dia laborable,2016.0,16.0,1.2000

Se ha determinado que el dataframe final contendría 45 millones de registros. Esta cantidad de información resulta muy costosa computacionalmente. Por ello, tras discutirlo con Fran, hemos decidido trabajar a nivel semanal. Esto nos permitirá manejar la información de manera más ágil y, además, la pérdida de datos no será significativa.

In [7]:
# Re-seleccionamos la fecha como index para poder realizar el resample
merged_df.set_index('date', inplace=True)

In [11]:
# Realizamos la agrupación a nivel semanal
df_weekly = merged_df.groupby('id').resample('W-MON').agg({
    'item': 'first',
    'category': 'first',
    'department': 'first',
    'store': 'first',
    'store_code': 'first',
    'region': 'first',
    'day_number': 'first',
    'units_sold': 'sum',
    'weekday': 'first',
    'weekday_int': 'first',
    'event': 'first',
    'year': 'first',
    'week': 'first',
    'sell_price': 'first'
}).reset_index()

In [15]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 45794641 entries, 2011-01-31 to 2016-04-24
Data columns (total 15 columns):
 #   Column       Dtype
---  ------       -----
 0   id           object
 1   item         object
 2   category     object
 3   department   object
 4   store        object
 5   store_code   object
 6   region       object
 7   day_number   object
 8   units_sold   float64
 9   weekday      object
 10  weekday_int  float64
 11  event        object
 12  year         float64
 13  week         float64
 14  sell_price   float64
dtypes: float64(5), object(10)
memory usage: 5.5+ GB

Ahora procederemos a finalizar la preparación de los datos, organizándolos y eliminando columnas con información duplicada. También nos encargaremos de eliminar los valores nulos si fuera necesario.

In [119]:
#Lo guardamos como una copia para trabajar
df= df_weekly.copy()

In [120]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6715830 entries, 0 to 6715829
Data columns (total 16 columns):
 #   Column       Dtype
---  ------       -----
 0   id           object
 1   date         datetime64[ns]
 2   item         object
 3   category     object
 4   department   object
 5   store        object
 6   store_code   object
 7   region       object
 8   day_number   object
 9   units_sold   float64
 10  weekday      object
 11  weekday_int  float64
 12  event        object
 13  year         float64
 14  week         float64
 15  sell_price   float64
dtypes: datetime64[ns](1), float64(5), object(10)
memory usage: 819.8+ MB

In [121]:
df.head()

,id,date,item,category,department,store,store_code,region,day_number,units_sold,weekday,weekday_int,event,year,week,sell_price
0,ACCESORIES_1_001_BOS_1,2013-07-08,ACCESORIES_1_001,ACCESORIES,ACCESORIES_1,South_End,BOS_1,Boston,d_892,0.0,Monday,3.0,Dia laborable,2013.0,28.0,12.7414
1,ACCESORIES_1_001_BOS_1,2013-07-15,ACCESORIES_1_001,ACCESORIES,ACCESORIES_1,South_End,BOS_1,Boston,d_893,0.0,Tuesday,4.0,Ramadan starts,2013.0,28.0,12.7414
2,ACCESORIES_1_001_BOS_1,2013-07-22,ACCESORIES_1_001,ACCESORIES,ACCESORIES_1,South_End,BOS_1,Boston,d_900,4.0,Tuesday,4.0,Dia laborable,2013.0,29.0,10.9858
3,ACCESORIES_1_001_BOS_1,2013-07-29,ACCESORIES_1_001,ACCESORIES,ACCESORIES_1,South_End,BOS_1,Boston,d_907,6.0,Tuesday,4.0,Dia laborable,2013.0,30.0,10.9858
4,ACCESORIES_1_001_BOS_1,2013-08-05,ACCESORIES_1_001,ACCESORIES,ACCESORIES_1,South_End,BOS_1,Boston,d_914,0.0,Tuesday,4.0,Dia laborable,2013.0,31.0,10.9858

In [122]:
# Comprobamos nulos para su eliminación
df.isna().sum()

id                  0
date                0
item           105317
category       105317
department     105317
store          105317
store_code     105317
region         105317
day_number     105317
units_sold          0
weekday        105317
weekday_int    105317
event          105317
year           105317
week           105317
sell_price     105317
dtype: int64

In [123]:
# Son fechas que al hacer resample no tienen informacion por lo que pasaremos a eliminarlos.
display(df.loc[df.item.isna()].sample(20))
df = df.dropna()

,id,date,item,category,department,store,store_code,region,day_number,units_sold,weekday,weekday_int,event,year,week,sell_price
384471,ACCESORIES_1_174_NYC_1,2012-04-02,None,None,None,None,None,None,None,0.0,None,NaN,None,NaN,NaN,NaN
2018169,HOME_&_GARDEN_1_361_BOS_3,2012-01-23,None,None,None,None,None,None,None,0.0,None,NaN,None,NaN,NaN,NaN
5745315,SUPERMARKET_3_381_BOS_1,2012-08-27,None,None,None,None,None,None,None,0.0,None,NaN,None,NaN,NaN,NaN
290323,ACCESORIES_1_131_BOS_1,2012-05-07,None,None,None,None,None,None,None,0.0,None,NaN,None,NaN,NaN,NaN
4363664,SUPERMARKET_2_131_PHI_1,2012-07-16,None,None,None,None,None,None,None,0.0,None,NaN,None,NaN,NaN,NaN
6506244,SUPERMARKET_3_731_BOS_2,2012-02-27,None,None,None,None,None,None,None,0.0,None,NaN,None,NaN,NaN,NaN
432734,ACCESORIES_1_198_BOS_2,2012-04-09,None,None,None,None,None,None,None,0.0,None,NaN,None,NaN,NaN,NaN
4497051,SUPERMARKET_2_196_PHI_1,2012-06-04,None,None,None,None,None,None,None,0.0,None,NaN,None,NaN,NaN,NaN
209791,ACCESORIES_1_093_BOS_1,2012-04-02,None,None,None,None,None,None,None,0.0,None,NaN,None,NaN,NaN,NaN
1813817,HOME_&_GARDEN_1_263_BOS_2,2012-03-26,None,None,None,None,None,None,None,0.0,None,NaN,None,NaN,NaN,NaN
4198597,SUPERMARKET_2_047_PHI_1,2012-04-16,None,None,None,None,None,None,None,0.0,None,NaN,None,NaN,NaN,NaN
4655038,SUPERMARKET_2_274_PHI_1,2012-05-21,None,None,None,None,None,None,None,0.0,None,NaN,None,NaN,NaN,NaN
4538819,SUPERMARKET_2_217_PHI_3,2012-04-23,None,None,None,None,None,None,None,0.0,None,NaN,None,NaN,NaN,NaN
3167684,HOME_&_GARDEN_2_333_PHI_1,2012-03-12,None,None,None,None,None,None,None,0.0,None,NaN,None,NaN,NaN,NaN
2942231,HOME_&_GARDEN_2_237_NYC_4,2012-01-09,None,None,None,None,None,None,None,0.0,None,NaN,None,NaN,NaN,NaN
6064531,SUPERMARKET_3_524_PHI_1,2012-02-27,None,None,None,None,None,None,None,0.0,None,NaN,None,NaN,NaN,NaN
371532,ACCESORIES_1_167_NYC_3,2012-06-11,None,None,None,None,None,None,None,0.0,None,NaN,None,NaN,NaN,NaN
2310264,HOME_&_GARDEN_1_499_BOS_2,2012-04-09,None,None,None,None,None,None,None,0.0,None,NaN,None,NaN,NaN,NaN
4873474,SUPERMARKET_2_378_PHI_1,2012-09-03,None,None,None,None,None,None,None,0.0,None,NaN,None,NaN,NaN,NaN
4256359,SUPERMARKET_2_074_NYC_1,2012-02-06,None,None,None,None,None,None,None,0.0,None,NaN,None,NaN,NaN,NaN

In [124]:
# Realizamos comprobaciones para no eliminar ninguna informacion valiosa.
df.item.value_counts()

SUPERMARKET_3_587      2740
ACCESORIES_1_282       2740
SUPERMARKET_3_346      2740
HOME_&_GARDEN_1_129    2740
ACCESORIES_1_312       2740
                       ...
HOME_&_GARDEN_1_308     571
HOME_&_GARDEN_1_159     553
HOME_&_GARDEN_1_242     530
SUPERMARKET_3_296       517
SUPERMARKET_2_379       460
Name: item, Length: 3049, dtype: int64

In [125]:
df["category"].value_counts()

SUPERMARKET      3073307
HOME_&_GARDEN    2295918
ACCESORIES       1241288
Name: category, dtype: int64

In [126]:
df["department"].value_counts()

SUPERMARKET_3      1773017
HOME_&_GARDEN_2    1175615
HOME_&_GARDEN_1    1120303
ACCESORIES_1        928899
SUPERMARKET_2       793587
SUPERMARKET_1       506703
ACCESORIES_2        312389
Name: department, dtype: int64

In [127]:
df.loc[df["department"] == "HOME_&_GARDEN_2"]

,id,date,item,category,department,store,store_code,region,day_number,units_sold,weekday,weekday_int,event,year,week,sell_price
2400269,HOME_&_GARDEN_2_001_BOS_1,2011-01-31,HOME_&_GARDEN_2_001,HOME_&_GARDEN,HOME_&_GARDEN_2,South_End,BOS_1,Boston,d_3,0.0,Monday,3.0,Dia laborable,2011.0,5.0,8.0875
2400270,HOME_&_GARDEN_2_001_BOS_1,2011-02-07,HOME_&_GARDEN_2_001,HOME_&_GARDEN,HOME_&_GARDEN_2,South_End,BOS_1,Boston,d_4,3.0,Tuesday,4.0,Dia laborable,2011.0,5.0,8.0875
2400271,HOME_&_GARDEN_2_001_BOS_1,2011-02-14,HOME_&_GARDEN_2_001,HOME_&_GARDEN,HOME_&_GARDEN_2,South_End,BOS_1,Boston,d_11,2.0,Tuesday,4.0,Dia laborable,2011.0,6.0,8.0875
2400272,HOME_&_GARDEN_2_001_BOS_1,2011-02-21,HOME_&_GARDEN_2_001,HOME_&_GARDEN,HOME_&_GARDEN_2,South_End,BOS_1,Boston,d_18,0.0,Tuesday,4.0,Dia laborable,2011.0,7.0,8.0875
2400273,HOME_&_GARDEN_2_001_BOS_1,2011-02-28,HOME_&_GARDEN_2_001,HOME_&_GARDEN,HOME_&_GARDEN_2,South_End,BOS_1,Boston,d_25,2.0,Tuesday,4.0,Dia laborable,2011.0,8.0,8.0875
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3588456,HOME_&_GARDEN_2_516_PHI_3,2016-03-28,HOME_&_GARDEN_2_516,HOME_&_GARDEN,HOME_&_GARDEN_2,Queen_Village,PHI_3,Philadelphia,d_1880,0.0,Tuesday,4.0,Dia laborable,2016.0,12.0,7.4250
3588457,HOME_&_GARDEN_2_516_PHI_3,2016-04-04,HOME_&_GARDEN_2_516,HOME_&_GARDEN,HOME_&_GARDEN_2,Queen_Village,PHI_3,Philadelphia,d_1887,0.0,Tuesday,4.0,Dia laborable,2016.0,13.0,7.4250
3588458,HOME_&_GARDEN_2_516_PHI_3,2016-04-11,HOME_&_GARDEN_2_516,HOME_&_GARDEN,HOME_&_GARDEN_2,Queen_Village,PHI_3,Philadelphia,d_1894,0.0,Tuesday,4.0,Dia laborable,2016.0,14.0,7.4250
3588459,HOME_&_GARDEN_2_516_PHI_3,2016-04-18,HOME_&_GARDEN_2_516,HOME_&_GARDEN,HOME_&_GARDEN_2,Queen_Village,PHI_3,Philadelphia,d_1901,0.0,Tuesday,4.0,Dia laborable,2016.0,15.0,7.4250
3588460,HOME_&_GARDEN_2_516_PHI_3,2016-04-25,HOME_&_GARDEN_2_516,HOME_&_GARDEN,HOME_&_GARDEN_2,Queen_Village,PHI_3,Philadelphia,d_1908,0.0,Tuesday,4.0,Dia laborable,2016.0,16.0,7.4250

Al revisar la información, notamos la importancia del departamento, ya que dentro de cada categoría existen diferentes departamentos. Por lo tanto, decidimos mantener esta información.

Por otro lado, al tener información podemos prenscidir de la información diaria,al igual que el ID, dado que esta información está contenida en las otras columnas.

In [128]:
df.drop(columns= ["id","day_number","weekday","weekday_int"],inplace=True)

In [129]:
df.head()

,date,item,category,department,store,store_code,region,units_sold,event,year,week,sell_price
0,2013-07-08,ACCESORIES_1_001,ACCESORIES,ACCESORIES_1,South_End,BOS_1,Boston,0.0,Dia laborable,2013.0,28.0,12.7414
1,2013-07-15,ACCESORIES_1_001,ACCESORIES,ACCESORIES_1,South_End,BOS_1,Boston,0.0,Ramadan starts,2013.0,28.0,12.7414
2,2013-07-22,ACCESORIES_1_001,ACCESORIES,ACCESORIES_1,South_End,BOS_1,Boston,4.0,Dia laborable,2013.0,29.0,10.9858
3,2013-07-29,ACCESORIES_1_001,ACCESORIES,ACCESORIES_1,South_End,BOS_1,Boston,6.0,Dia laborable,2013.0,30.0,10.9858
4,2013-08-05,ACCESORIES_1_001,ACCESORIES,ACCESORIES_1,South_End,BOS_1,Boston,0.0,Dia laborable,2013.0,31.0,10.9858

In [130]:
# Conseguimos las ventas a nivel semanal.
df['total_sales'] = df.apply(lambda x: x['units_sold'] * x['sell_price'], axis=1)

df.head()

,date,item,category,department,store,store_code,region,units_sold,event,year,week,sell_price,total_sales
0,2013-07-08,ACCESORIES_1_001,ACCESORIES,ACCESORIES_1,South_End,BOS_1,Boston,0.0,Dia laborable,2013.0,28.0,12.7414,0.0000
1,2013-07-15,ACCESORIES_1_001,ACCESORIES,ACCESORIES_1,South_End,BOS_1,Boston,0.0,Ramadan starts,2013.0,28.0,12.7414,0.0000
2,2013-07-22,ACCESORIES_1_001,ACCESORIES,ACCESORIES_1,South_End,BOS_1,Boston,4.0,Dia laborable,2013.0,29.0,10.9858,43.9432
3,2013-07-29,ACCESORIES_1_001,ACCESORIES,ACCESORIES_1,South_End,BOS_1,Boston,6.0,Dia laborable,2013.0,30.0,10.9858,65.9148
4,2013-08-05,ACCESORIES_1_001,ACCESORIES,ACCESORIES_1,South_End,BOS_1,Boston,0.0,Dia laborable,2013.0,31.0,10.9858,0.0000

In [131]:
# Por otro lado, optimizamos los tipos de las variables
df["week"]= df["week"].astype("int8")
df["year"]= df["year"].astype("int16")

In [132]:
# Tambien actualizamos el tipo
display(df["units_sold"].max())
df["units_sold"]= df["units_sold"].astype("int16")

4220.0

In [133]:
# Creamos una columna con el nombre de tienda y el codigo para reducir dimensiones
df["stores"]= df["store"]+"("+df["store_code"]+")"
df.head()

,date,item,category,department,store,store_code,region,units_sold,event,year,week,sell_price,total_sales,stores
0,2013-07-08,ACCESORIES_1_001,ACCESORIES,ACCESORIES_1,South_End,BOS_1,Boston,0,Dia laborable,2013,28,12.7414,0.0000,South_End(BOS_1)
1,2013-07-15,ACCESORIES_1_001,ACCESORIES,ACCESORIES_1,South_End,BOS_1,Boston,0,Ramadan starts,2013,28,12.7414,0.0000,South_End(BOS_1)
2,2013-07-22,ACCESORIES_1_001,ACCESORIES,ACCESORIES_1,South_End,BOS_1,Boston,4,Dia laborable,2013,29,10.9858,43.9432,South_End(BOS_1)
3,2013-07-29,ACCESORIES_1_001,ACCESORIES,ACCESORIES_1,South_End,BOS_1,Boston,6,Dia laborable,2013,30,10.9858,65.9148,South_End(BOS_1)
4,2013-08-05,ACCESORIES_1_001,ACCESORIES,ACCESORIES_1,South_End,BOS_1,Boston,0,Dia laborable,2013,31,10.9858,0.0000,South_End(BOS_1)

In [325]:
df.item.nunique()

3049

In [330]:
filtro= ((df["item"]== "ACCESORIES_1_001") | (df["item"]== "ACCESORIES_2_001" ))
df.loc[filtro]

,date,item,category,department,region,units_sold,event,year,week,sell_price,total_sales,stores
0,2013-07-08,ACCESORIES_1_001,ACCESORIES,ACCESORIES_1,Boston,0,Dia laborable,2013,28,12.7414,0.0000,South_End(BOS_1)
1,2013-07-15,ACCESORIES_1_001,ACCESORIES,ACCESORIES_1,Boston,0,Ramadan starts,2013,28,12.7414,0.0000,South_End(BOS_1)
2,2013-07-22,ACCESORIES_1_001,ACCESORIES,ACCESORIES_1,Boston,4,Dia laborable,2013,29,10.9858,43.9432,South_End(BOS_1)
3,2013-07-29,ACCESORIES_1_001,ACCESORIES,ACCESORIES_1,Boston,6,Dia laborable,2013,30,10.9858,65.9148,South_End(BOS_1)
4,2013-08-05,ACCESORIES_1_001,ACCESORIES,ACCESORIES_1,Boston,0,Dia laborable,2013,31,10.9858,0.0000,South_End(BOS_1)
...,...,...,...,...,...,...,...,...,...,...,...,...
947854,2016-03-28,ACCESORIES_2_001,ACCESORIES,ACCESORIES_2,Philadelphia,1,Dia laborable,2016,12,7.2751,7.2751,Queen_Village(PHI_3)
947855,2016-04-04,ACCESORIES_2_001,ACCESORIES,ACCESORIES_2,Philadelphia,0,Dia laborable,2016,13,7.2751,0.0000,Queen_Village(PHI_3)
947856,2016-04-11,ACCESORIES_2_001,ACCESORIES,ACCESORIES_2,Philadelphia,0,Dia laborable,2016,14,7.2751,0.0000,Queen_Village(PHI_3)
947857,2016-04-18,ACCESORIES_2_001,ACCESORIES,ACCESORIES_2,Philadelphia,0,Dia laborable,2016,15,7.2751,0.0000,Queen_Village(PHI_3)
947858,2016-04-25,ACCESORIES_2_001,ACCESORIES,ACCESORIES_2,Philadelphia,0,Dia laborable,2016,16,7.2751,0.0000,Queen_Village(PHI_3)

In [134]:
df.drop(columns=['store', 'store_code'],inplace=True)

Ahora procederé a añadir los festivos que se han perdido durante el proceso de remuestreo a semanas. Para ello, crearé un DataFrame a nivel diario que incluirá tanto las vacaciones que ya teníamos en la base de datos como las vacaciones que podamos incluir a nivel de Estados Unidos. Posteriormente, realizaré las transformaciones a nivel semanal que se han aplicado al DataFrame para incluirlas en nuestro DataFrame.

In [135]:
# Comprobamos las fechas de inicio y final para la creación de df de festivos.
print(df.date.min(),df.date.max())

2011-01-31 00:00:00 2016-04-25 00:00:00

In [349]:
fechas= pd.date_range(start='2011-01-31', end='2016-04-25', freq='D')
df_holidays = pd.DataFrame({'date': fechas})

In [350]:
# Conseguimos las vacaciones de US entre 2011 y 2016
us_holidays = USFederalHolidayCalendar().holidays(start='2011-01-31', end='2016-04-25')
us_holidays

DatetimeIndex(['2011-02-21', '2011-05-30', '2011-07-04', '2011-09-05',
               '2011-10-10', '2011-11-11', '2011-11-24', '2011-12-26',
               '2012-01-02', '2012-01-16', '2012-02-20', '2012-05-28',
               '2012-07-04', '2012-09-03', '2012-10-08', '2012-11-12',
               '2012-11-22', '2012-12-25', '2013-01-01', '2013-01-21',
               '2013-02-18', '2013-05-27', '2013-07-04', '2013-09-02',
               '2013-10-14', '2013-11-11', '2013-11-28', '2013-12-25',
               '2014-01-01', '2014-01-20', '2014-02-17', '2014-05-26',
               '2014-07-04', '2014-09-01', '2014-10-13', '2014-11-11',
               '2014-11-27', '2014-12-25', '2015-01-01', '2015-01-19',
               '2015-02-16', '2015-05-25', '2015-07-03', '2015-09-07',
               '2015-10-12', '2015-11-11', '2015-11-26', '2015-12-25',
               '2016-01-01', '2016-01-18', '2016-02-15'],
              dtype='datetime64[ns]', freq=None)

In [351]:
# Vamos a añadir de df calendar las vacaciones que teníamos
df_calendar= calendar[["date","event"]]
df_calendar.head()

         date event
0  2011-01-29   NaN
1  2011-01-30   NaN
2  2011-01-31   NaN
3  2011-02-01   NaN
4  2011-02-02   NaN

In [352]:
# Conseguimos los festivo , ya que los nulos son dias no festivos
holidays_calendar = df_calendar.loc[df_calendar.event.notnull()]["date"]
holidays_calendar= pd.to_datetime(holidays_calendar)
holidays_calendar

8      2011-02-06
184    2011-08-01
299    2011-11-24
337    2012-01-01
372    2012-02-05
435    2012-04-08
538    2012-07-20
663    2012-11-22
703    2013-01-01
736    2013-02-03
792    2013-03-31
892    2013-07-09
1034   2013-11-28
1068   2014-01-01
1100   2014-02-02
1177   2014-04-20
1247   2014-06-29
1398   2014-11-27
1433   2015-01-01
1464   2015-02-01
1527   2015-04-05
1601   2015-06-18
1762   2015-11-26
1798   2016-01-01
1835   2016-02-07
1884   2016-03-27
Name: date, dtype: datetime64[ns]

In [353]:
festivo= (us_holidays | holidays_calendar)

df_holidays['holidays'] = df_holidays["date"].isin(festivo).astype(int)

/var/folders/h2/m__59kjn7y17pxmn41zlkfsm0000gn/T/ipykernel_24771/3435284434.py:1: FutureWarning:

Index.__or__ operating as a set operation is deprecated, in the future this will be a logical operation matching Series.__or__.  Use index.union(other) instead.

In [354]:
df_holidays.holidays.value_counts()

0    1844
1      68
Name: holidays, dtype: int64

In [355]:
# Obtenemos las semana/año para saber que semanas tienen festividad.
df_holidays["week"]= df_holidays["date"].dt.isocalendar().week
df_holidays["year"]= df_holidays["date"].dt.year
df_holidays.head()

        date  holidays  week  year
0 2011-01-31         0     5  2011
1 2011-02-01         0     5  2011
2 2011-02-02         0     5  2011
3 2011-02-03         0     5  2011
4 2011-02-04         0     5  2011

In [356]:
# Creamos la columnas de semana con vacaciones, si al hacer la agrupacion encuentra un 1.
df_holidays['w_holidays'] = df_holidays.groupby(['year', 'week'])['holidays'].transform(lambda x: 1 if (x == 1).any() else 0)

In [357]:
# Comprobamos que se ha realizado bien para todos los dias.
df_holidays.loc[df_holidays["w_holidays"]== 1 ].head(20)

          date  holidays  week  year  w_holidays
0   2011-01-31         0     5  2011           1
1   2011-02-01         0     5  2011           1
2   2011-02-02         0     5  2011           1
3   2011-02-03         0     5  2011           1
4   2011-02-04         0     5  2011           1
5   2011-02-05         0     5  2011           1
6   2011-02-06         1     5  2011           1
21  2011-02-21         1     8  2011           1
22  2011-02-22         0     8  2011           1
23  2011-02-23         0     8  2011           1
24  2011-02-24         0     8  2011           1
25  2011-02-25         0     8  2011           1
26  2011-02-26         0     8  2011           1
27  2011-02-27         0     8  2011           1
119 2011-05-30         1    22  2011           1
120 2011-05-31         0    22  2011           1
121 2011-06-01         0    22  2011           1
122 2011-06-02         0    22  2011           1
123 2011-06-03         0    22  2011           1
124 2011-06-04         0    22  2011           1

In [358]:
# Agrupamos como hicimos en dataframe origen por semana(empezando por el lunes)
df_holidays= df_holidays.set_index("date")

holidays_week = df_holidays.resample('W-MON').agg({
    'holidays': 'first',
    'week': 'first',
    'year': 'first',
    'w_holidays': 'first',
}).reset_index()

In [363]:
display(holidays_week.head())
#Eliminamos la columna "holidays" porque ya tenemos los datos de los días festivos en la columna "w_holidays"
holidays_week.drop(columns="holidays",inplace=True)

        date  holidays  week  year  w_holidays
0 2011-01-31         0     5  2011           1
1 2011-02-07         0     5  2011           1
2 2011-02-14         0     6  2011           0
3 2011-02-21         0     7  2011           0
4 2011-02-28         0     8  2011           1

In [364]:
holidays_week.w_holidays.value_counts()

0    207
1     67
Name: w_holidays, dtype: int64

In [365]:
# Guardaremos una copia sin holidays
df_not_holidays= df.copy()

In [366]:
df = df.merge(holidays_week, on=['date','week', 'year'], how='left')

In [370]:
df.head()

,date,item,category,department,region,units_sold,event,year,week,sell_price,total_sales,stores,w_holidays
0,2013-07-08,ACCESORIES_1_001,ACCESORIES,ACCESORIES_1,Boston,0,Dia laborable,2013,28,12.7414,0.0000,South_End(BOS_1),NaN
1,2013-07-15,ACCESORIES_1_001,ACCESORIES,ACCESORIES_1,Boston,0,Ramadan starts,2013,28,12.7414,0.0000,South_End(BOS_1),1.0
2,2013-07-22,ACCESORIES_1_001,ACCESORIES,ACCESORIES_1,Boston,4,Dia laborable,2013,29,10.9858,43.9432,South_End(BOS_1),0.0
3,2013-07-29,ACCESORIES_1_001,ACCESORIES,ACCESORIES_1,Boston,6,Dia laborable,2013,30,10.9858,65.9148,South_End(BOS_1),0.0
4,2013-08-05,ACCESORIES_1_001,ACCESORIES,ACCESORIES_1,Boston,0,Dia laborable,2013,31,10.9858,0.0000,South_End(BOS_1),0.0

In [371]:
#Comprobamos la combinación si hay nulos
df.w_holidays.value_counts(dropna=False)

0.0    4945922
1.0    1602139
NaN      62452
Name: w_holidays, dtype: int64

In [372]:
df.isna().sum()

date               0
item               0
category           0
department         0
region             0
units_sold         0
event              0
year               0
week               0
sell_price         0
total_sales        0
stores             0
w_holidays     62452
dtype: int64

In [377]:
df.loc[(df["w_holidays"].isna())]

,date,item,category,department,region,units_sold,event,year,week,sell_price,total_sales,stores,w_holidays
0,2013-07-08,ACCESORIES_1_001,ACCESORIES,ACCESORIES_1,Boston,0,Dia laborable,2013,28,12.7414,0.0000,South_End(BOS_1),NaN
26,2014-01-06,ACCESORIES_1_001,ACCESORIES,ACCESORIES_1,Boston,1,NewYear,2014,1,10.9858,10.9858,South_End(BOS_1),NaN
130,2016-01-04,ACCESORIES_1_001,ACCESORIES,ACCESORIES_1,Boston,0,Dia laborable,2016,1,10.9858,0.0000,South_End(BOS_1),NaN
147,2013-07-22,ACCESORIES_1_001,ACCESORIES,ACCESORIES_1,Boston,0,Dia laborable,2013,30,12.7414,0.0000,Roxbury(BOS_2),NaN
171,2014-01-06,ACCESORIES_1_001,ACCESORIES,ACCESORIES_1,Boston,1,NewYear,2014,1,10.9858,10.9858,Roxbury(BOS_2),NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6610330,2015-01-05,SUPERMARKET_3_827,SUPERMARKET,SUPERMARKET_3,Philadelphia,15,NewYear,2015,1,1.2000,18.0000,Yorktown(PHI_2),NaN
6610382,2016-01-04,SUPERMARKET_3_827,SUPERMARKET,SUPERMARKET_3,Philadelphia,5,Dia laborable,2016,1,1.2000,6.0000,Yorktown(PHI_2),NaN
6610399,2014-02-24,SUPERMARKET_3_827,SUPERMARKET,SUPERMARKET_3,Philadelphia,0,Dia laborable,2014,9,1.2000,0.0000,Queen_Village(PHI_3),NaN
6610444,2015-01-05,SUPERMARKET_3_827,SUPERMARKET,SUPERMARKET_3,Philadelphia,9,NewYear,2015,1,1.2000,10.8000,Queen_Village(PHI_3),NaN
6610496,2016-01-04,SUPERMARKET_3_827,SUPERMARKET,SUPERMARKET_3,Philadelphia,1,Dia laborable,2016,1,1.2000,1.2000,Queen_Village(PHI_3),NaN

In [379]:
# Estas dos semanas siempre tienen festivo por los que las añadiremos manualmente
df.loc[df["week"] == 1, "w_holidays"] = 1
df.loc[df["week"] == 52, "w_holidays"] = 1

In [381]:
df.loc[df.w_holidays.isna()]

,date,item,category,department,region,units_sold,event,year,week,sell_price,total_sales,stores,w_holidays
0,2013-07-08,ACCESORIES_1_001,ACCESORIES,ACCESORIES_1,Boston,0,Dia laborable,2013,28,12.7414,0.0,South_End(BOS_1),NaN
147,2013-07-22,ACCESORIES_1_001,ACCESORIES,ACCESORIES_1,Boston,0,Dia laborable,2013,30,12.7414,0.0,Roxbury(BOS_2),NaN
292,2013-07-22,ACCESORIES_1_001,ACCESORIES,ACCESORIES_1,Boston,0,Dia laborable,2013,30,11.4646,0.0,Back_Bay(BOS_3),NaN
437,2013-07-08,ACCESORIES_1_001,ACCESORIES,ACCESORIES_1,New York,0,Dia laborable,2013,28,12.7414,0.0,Greenwich_Village(NYC_1),NaN
584,2013-07-22,ACCESORIES_1_001,ACCESORIES,ACCESORIES_1,New York,0,Dia laborable,2013,30,10.9858,0.0,Harlem(NYC_2),NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6609998,2014-03-24,SUPERMARKET_3_827,SUPERMARKET,SUPERMARKET_3,New York,0,Dia laborable,2014,13,1.2000,0.0,Tribeca(NYC_3),NaN
6610108,2014-06-16,SUPERMARKET_3_827,SUPERMARKET,SUPERMARKET_3,New York,0,Dia laborable,2014,25,1.2000,0.0,Brooklyn(NYC_4),NaN
6610206,2014-02-24,SUPERMARKET_3_827,SUPERMARKET,SUPERMARKET_3,Philadelphia,0,Dia laborable,2014,9,1.2000,0.0,Midtown_Village(PHI_1),NaN
6610320,2014-10-27,SUPERMARKET_3_827,SUPERMARKET,SUPERMARKET_3,Philadelphia,0,Dia laborable,2014,44,1.2000,0.0,Yorktown(PHI_2),NaN
6610399,2014-02-24,SUPERMARKET_3_827,SUPERMARKET,SUPERMARKET_3,Philadelphia,0,Dia laborable,2014,9,1.2000,0.0,Queen_Village(PHI_3),NaN

Al comprobar, notamos que aún hay bastantes valores nulos. Vamos a investigar si ha habido algún problema con las fechas. Para ello, obtendremos los valores únicos de la combinación de semana-año (Week-Year) para determinar si ha habido algún problema. Una vez hecho esto, tomaremos una decisión sobre cómo proceder para llenar estos valores nulos.

In [382]:
#Buscamos las weeks con vacaciones por año
week_year_holidays= df.loc[df["w_holidays"]== 1][["week","year"]]
week_year_holidays

         week  year
1          28  2013
9          36  2013
15         42  2013
19         46  2013
21         48  2013
...       ...   ...
6610497     1  2016
6610499     3  2016
6610501     5  2016
6610503     7  2016
6610508    12  2016

[1676170 rows x 2 columns]

In [383]:
semanas_años_unicos = week_year_holidays['week'].astype(str) + '-' + week_year_holidays['year'].astype(str)
display(semanas_años_unicos)
valores_unicos = semanas_años_unicos.unique()

1          28-2013
9          36-2013
15         42-2013
19         46-2013
21         48-2013
            ...
6610497     1-2016
6610499     3-2016
6610501     5-2016
6610503     7-2016
6610508    12-2016
Length: 1676170, dtype: object

In [385]:
nuevo_df = pd.DataFrame(valores_unicos, columns=['week-year'])
nuevo_df[['week', 'year']] = nuevo_df['week-year'].str.split('-', expand=True)
nuevo_df.head()

  week-year week  year
0   28-2013   28  2013
1   36-2013   36  2013
2   42-2013   42  2013
3   46-2013   46  2013
4   48-2013   48  2013

In [386]:
comprobacion = df.apply(lambda x: (x['week'], x['year']) in zip(nuevo_df['week'], nuevo_df['year']), axis=1)
comprobacion.value_counts()

False    6567950
dtype: int64

Como comprobamos, no habría ninguna semana de las que consideramos como vacaciones que lo sean, por lo que consideraremos los nulos como semanas laborables sin festivo.

In [389]:
df["w_holidays"].fillna(0,inplace=True)

In [390]:
df.head()

,date,item,category,department,region,units_sold,event,year,week,sell_price,total_sales,stores,w_holidays
0,2013-07-08,ACCESORIES_1_001,ACCESORIES,ACCESORIES_1,Boston,0,Dia laborable,2013,28,12.7414,0.0000,South_End(BOS_1),0.0
1,2013-07-15,ACCESORIES_1_001,ACCESORIES,ACCESORIES_1,Boston,0,Ramadan starts,2013,28,12.7414,0.0000,South_End(BOS_1),1.0
2,2013-07-22,ACCESORIES_1_001,ACCESORIES,ACCESORIES_1,Boston,4,Dia laborable,2013,29,10.9858,43.9432,South_End(BOS_1),0.0
3,2013-07-29,ACCESORIES_1_001,ACCESORIES,ACCESORIES_1,Boston,6,Dia laborable,2013,30,10.9858,65.9148,South_End(BOS_1),0.0
4,2013-08-05,ACCESORIES_1_001,ACCESORIES,ACCESORIES_1,Boston,0,Dia laborable,2013,31,10.9858,0.0000,South_End(BOS_1),0.0

In [392]:
# Eliminamos la columna que contenia el festivo a nivel diario
df.drop(columns=["event"],inplace=True)
df.head()

,date,item,category,department,region,units_sold,year,week,sell_price,total_sales,stores,w_holidays
0,2013-07-08,ACCESORIES_1_001,ACCESORIES,ACCESORIES_1,Boston,0,2013,28,12.7414,0.0000,South_End(BOS_1),0.0
1,2013-07-15,ACCESORIES_1_001,ACCESORIES,ACCESORIES_1,Boston,0,2013,28,12.7414,0.0000,South_End(BOS_1),1.0
2,2013-07-22,ACCESORIES_1_001,ACCESORIES,ACCESORIES_1,Boston,4,2013,29,10.9858,43.9432,South_End(BOS_1),0.0
3,2013-07-29,ACCESORIES_1_001,ACCESORIES,ACCESORIES_1,Boston,6,2013,30,10.9858,65.9148,South_End(BOS_1),0.0
4,2013-08-05,ACCESORIES_1_001,ACCESORIES,ACCESORIES_1,Boston,0,2013,31,10.9858,0.0000,South_End(BOS_1),0.0

In [398]:
# Reorganizamos la información de las columnas para que quede más claro.
df_final= df[['date', 'item', 'category','department','stores', 'region', 'week', 'year' ,'w_holidays','units_sold', 'sell_price', 'total_sales' ]]

In [399]:
df_final.head()

,date,item,category,department,stores,region,week,year,w_holidays,units_sold,sell_price,total_sales
0,2013-07-08,ACCESORIES_1_001,ACCESORIES,ACCESORIES_1,South_End(BOS_1),Boston,28,2013,0.0,0,12.7414,0.0000
1,2013-07-15,ACCESORIES_1_001,ACCESORIES,ACCESORIES_1,South_End(BOS_1),Boston,28,2013,1.0,0,12.7414,0.0000
2,2013-07-22,ACCESORIES_1_001,ACCESORIES,ACCESORIES_1,South_End(BOS_1),Boston,29,2013,0.0,4,10.9858,43.9432
3,2013-07-29,ACCESORIES_1_001,ACCESORIES,ACCESORIES_1,South_End(BOS_1),Boston,30,2013,0.0,6,10.9858,65.9148
4,2013-08-05,ACCESORIES_1_001,ACCESORIES,ACCESORIES_1,South_End(BOS_1),Boston,31,2013,0.0,0,10.9858,0.0000

In [401]:
# Renombramos la columna de festivos
df_final= df_final.rename(columns={'w_holidays': 'is_holidays'})
df_final.head()

,date,item,category,department,stores,region,week,year,is_holidays,units_sold,sell_price,total_sales
0,2013-07-08,ACCESORIES_1_001,ACCESORIES,ACCESORIES_1,South_End(BOS_1),Boston,28,2013,0.0,0,12.7414,0.0000
1,2013-07-15,ACCESORIES_1_001,ACCESORIES,ACCESORIES_1,South_End(BOS_1),Boston,28,2013,1.0,0,12.7414,0.0000
2,2013-07-22,ACCESORIES_1_001,ACCESORIES,ACCESORIES_1,South_End(BOS_1),Boston,29,2013,0.0,4,10.9858,43.9432
3,2013-07-29,ACCESORIES_1_001,ACCESORIES,ACCESORIES_1,South_End(BOS_1),Boston,30,2013,0.0,6,10.9858,65.9148
4,2013-08-05,ACCESORIES_1_001,ACCESORIES,ACCESORIES_1,South_End(BOS_1),Boston,31,2013,0.0,0,10.9858,0.0000

In [407]:
# Cambiamos el tipo de la columna, para optimizacion de memoria.
df_final["is_holidays"]= df_final["is_holidays"].astype("int8")
df_final.head()

,date,item,category,department,stores,region,week,year,is_holidays,units_sold,sell_price,total_sales
0,2013-07-08,ACCESORIES_1_001,ACCESORIES,ACCESORIES_1,South_End(BOS_1),Boston,28,2013,0,0,12.7414,0.0000
1,2013-07-15,ACCESORIES_1_001,ACCESORIES,ACCESORIES_1,South_End(BOS_1),Boston,28,2013,1,0,12.7414,0.0000
2,2013-07-22,ACCESORIES_1_001,ACCESORIES,ACCESORIES_1,South_End(BOS_1),Boston,29,2013,0,4,10.9858,43.9432
3,2013-07-29,ACCESORIES_1_001,ACCESORIES,ACCESORIES_1,South_End(BOS_1),Boston,30,2013,0,6,10.9858,65.9148
4,2013-08-05,ACCESORIES_1_001,ACCESORIES,ACCESORIES_1,South_End(BOS_1),Boston,31,2013,0,0,10.9858,0.0000

In [413]:
# Guardamos el dataframe en formato csv
df_final.to_csv("datos_arreglados.csv")

In [414]:
# Y lo guardamos en un formato pickle para optimizar espacio y rapidez
data= df_final

with open('/Users/santi/Desktop/pickle_files/datos_arreglados.pkl','wb') as f:
    pickle.dump(data, f)

# 1. EDA general

## Ventas anuales

## Ventas trimestrales

## Ventas mensuales

## Media de ventas por meses

## Ventas semanales

# 2. EDA por ciudad

## Ventas generales por ciudad

## Ventas generales por tienda

## Ventas generales por categoría